*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header-logo h3
{
    font-size: 24px;
    font-weight: 800;
}

.headerDiv
{
    padding-top: 1.5em;
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 6em;
    padding-bottom: 8em;
    
    
}

.header-logo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under
{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.awsome-website
{
    width: 450px;
    margin-right: 4em;

}

.image
{
    background-color: #8d8e90;
    padding: 110px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
    
    
}

.image p
{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links
{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    
}





.header-links li
{
    margin-right: 15px;
}

.headerDiv,footer
{
    
    background-color: #1F2937;
    color: #F9FAF8;
}

.awsome-website h2
{
   font-size: 48px;
   font-weight: bolder;
}

.awsome-website p
{
    font-size: 18px;
    color: #F9FAF8;
    margin-bottom: 1em;
}

.signUp-btn
{
    background-color: #3882F6;
    padding: 10px 30px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}


.main

{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-heading
{
    margin-top: 1.7em;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 0.7em;
    text-align: center;
}

.illustration-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20em;
}

.illustration
{
    margin-right: 2em;
    
}

.imageDiv
{
    border: 4px solid #3882F6;
    width: 10em;
    height: 10em;
    border-radius: 13px;
    margin-bottom: 0.6em;
}

.span-under
{
    color: #1F2937;
}


.quotesDiv
{
    background-color: #E5E7EB;
    display: grid;
    padding: 100px 320px;

}


.quotesDiv p
{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin-bottom: 0.5em;

}

.quotesDiv span
{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.signupDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;

}


.signupInnerDiv
{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    padding: 3em 11em;
    border-radius: 13px;
}

.signupInnerDiv button
{
    border: 2px solid white;
    padding: 0.3em 2em;
    border-radius: 8px;
}

.signupHeader h3
{
    color: white;
    font-size: 24px;


}

.signupHeader
{
    color: #E5E7EB;
    padding-right: 11em;
}

